.card-stats{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card-body {
    overflow: hidden ;
    padding: 1rem ;
    margin-right: 1rem ;
}
.imgCard{
    margin-bottom: 2rem ;
}
.containkhawi {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
}
.patient-progress{
    height: 80vh;
    background:rgba($color: #fff, $alpha: 0.2);
    border-radius: 1rem ;
    margin-left: 2rem ;
    margin-top: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.progress-container{
    padding: 3rem 0rem;
    margin-bottom: 3rem;
}

/*-----------------------------------------
#circular Progress Bar
-------------------------------------------*/
.progress{
    background: none;
    margin: 0 auto;
    box-shadow: none;
    width: 15rem;
    height: 15rem;
    line-height: 150px;
    position: relative;
    background:  rgba( 255,255,255,0.6);
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.progress:after{
    content: "";
    border-radius: 50%;
    border: 15px solid rgba( 255,255,255,0.3 );
    box-shadow : inset 4px 4px 6px -1px rgba( 0,0,0,0.2 ) ,
             inset -4px -4px 6px -1px rgba( 255,255,255,0.7 ) ,
             -0.5px -0.5px 0px rgba( 255,255,255,1 ) ,
             0.5px 0.5px 0px rgba( 0,0,0,0.15 ) ,
             0px 12px 10px 10px rgba( 0,0,0,0.05 ) ;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    outline: none;
}
.progress > span{
    position: absolute;
    top: 0;
    z-index: 1;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    border-width: 15px;
    border-style: solid;
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 160px;
    border-bottom-right-radius: 160px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    border-top-left-radius: 160px;
    border-bottom-left-radius: 160px;
    border-right: 0;
    animation: loading-1 1.8s ease forwards;
}
.progress .progress-value{
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

//   progress bar animations
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
// progress bar colors
.progress.blue .progress-bar{
    border-color: #7165D0 ;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
    border-color: #fdc426;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
    border-color: #f83754;
}
.progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}



/*-----------------------------------------
#Mini circular Progress Bar
-------------------------------------------*/
.miniprogress{
    background: none;
    box-shadow: none;
    width: 4rem;
    height: 4rem;
    line-height: 150px;
    position: relative;
    left: 1.5rem;
    background:  rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.miniprogressmini:after{
    content: "";
    border-radius: 50%;
    border: 15px solid rgba( 255,255,255,0.3 );
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2 ),
             inset -4px -4px 6px -1px rgba( 255,255,255,0.7 ) ,
             -0.5px -0.5px 0px rgba( 255,255,255,1 ) ,
             0.5px 0.5px 0px rgba( 0,0,0,0.15 ) ,
             0px 12px 10px 10px rgba( 0,0,0,0.05 ) ;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.miniprogress > span{
    position: absolute;
    top: 0;
    z-index: 1;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.miniprogress .miniprogress-left{
    left: 0;
}
.miniprogress .miniprogress-bar{
    border-width: 4px;
    border-style: solid;
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    top: 0;
}
.miniprogress .miniprogress-left .miniprogress-bar{
    left: 100%;
    border-top-right-radius: 160px;
    border-bottom-right-radius: 160px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.miniprogress .miniprogress-right{
    right: 0;
}
.miniprogress .miniprogress-right .miniprogress-bar{
    left: -100%;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    border-top-left-radius: 160px;
    border-bottom-left-radius: 160px;
    border-right: 0;
    animation: loading-1 1.8s ease forwards;
}
.miniprogress .miniprogress-value{
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
    inset: -65% 2%;
}


.miniprogress.blue .miniprogress-bar{
    border-color: #7165D0 ;
}
.miniprogress.blue .miniprogress-left .miniprogress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.miniprogress.yellow .miniprogress-bar{
    border-color: #fdc426;
}
.miniprogress.yellow .miniprogress-left .pminirogress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.miniprogress.pink .miniprogress-bar{
    border-color: #f83754;
}
.miniprogress.pink .miniprogress-left .miniprogress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}










.calendar-half{
    margin-left: 15px;
}

.calendar-half {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background: url("https://images.unsplash.com/photo-1516912481808-3406841bd33c?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=183f2924ba5a8429441804609b2d4f61") no-repeat center / cover;
    
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: inherit;
      filter: blur(10px);
    }
    border-radius: 0rem 1rem 1rem 0rem;
  }
  
  .calendar {
    position: relative;
    width: 300px;
    background: rgba(#ffff,0.3);
    box-sizing: border-box;
    box-shadow: 0 5px 50px rgba(#000, 0.5);
    border-radius: 8px;
    overflow: hidden;
    transform: scale(1.3);
    transition: all 0.25s ease;
  }
  .calendar:hover{
    transform: scale(1.5);
    transition: all 0.25s ease;
  }
  .calendar__picture {
    position: relative;
    height: 200px;
    padding: 20px;
    color: #fff;
    background: #262626 url("https://images.unsplash.com/photo-1516912481808-3406841bd33c?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=183f2924ba5a8429441804609b2d4f61") no-repeat center / cover;
    text-shadow: 0 2px 2px rgba(#000, 0.2);
    box-sizing: border-box;
    
    &::before {
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      background: linear-gradient(to top, rgba(#000, 0.25), rgba(#000, 0.1));
    }
    h2,h3{
        color: #efefef;
    }
    h2 {
      margin: 0;
    }
    
    h3 {
      margin: 0;
      font-weight: 500;
    }
  }
  
  .calendar__date {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 10px;
    box-sizing: border-box;
  }
  
  .calendar__day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    font-weight: 600;
    color: #262626;
    
    &:nth-child(7) {
      color: #ccc;
    }
  }
  
  .calendar__number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    color: #262626;
  
    &:nth-child(7n) {
      color: #cccc;
      font-weight: 700;
    }
    
    &--current,
    &:hover {
      background:rgba($color: #fff, $alpha: 0.5);
      color: #fff !important;
      border-radius: 5px;
      font-weight: 700;
      cursor: pointer;
    }
  }





