<div class="containkhawi">
  <div class="col-xl-11 col-lg-11 x-container">
    <div class="ourproduct">
      <h1>Our Products</h1>
      <div class="product-list">
        <div class="item"><img class="prod-img" src="https://img.freepik.com/premium-vector/virtual-reality-headset-controllers-gaming-vr-helmet-metaverse-technology-concept_32996-1523.jpg?w=1380" alt=""></div>
        <div class="item"><img class="prod-img" src="https://img.freepik.com/premium-vector/virtual-reality-headset-controllers-gaming-vr-helmet-metaverse-technology-concept_32996-1523.jpg?w=1380" alt=""></div>
      </div>
    </div>
    <div class="devicelist">
      <div class="col-xl-8 col-lg-8 list">
        <div class="d-flex align-center justify-between header ">
          <div>Registration Number</div>
          <div class="h-age">Start Date</div>
          <div class="h-id">End Date</div>
          <div>User Profile</div>
        </div>

        <div class="patient-box active">
          <div class="item devicetype">VR-2022-001</div>
          <div class="item age">14/09/20</div>
          <div class="item Id">14/09/20</div>
          <div class="maininfo">
            <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="profile-img" alt="profile">
            <div class="nameemail">
              <div class="name">Miriam Eric</div>
              <div class="email">miriam@phyar-team.com</div>
            </div>
          </div>
        </div>

        <div class="patient-box">
          <div class="item devicetype">VR-2022-001</div>
          <div class="item age">14/09/20</div>
          <div class="item Id">14/09/20</div>
          <div class="maininfo">
            <img src="assets/img/theme/IMAGE1" class="profile-img" alt="profile">
            <div class="nameemail">
              <div class="name">Miriam Eric</div>
              <div class="email">miriam@creative-tim.com</div>
            </div>
          </div>
        </div>

        <div class="patient-box">
          <div class="item devicetype">VR-2022-001</div>
          <div class="item age">14/09/20</div>
          <div class="item Id">14/09/20</div>
          <div class="maininfo">
            <img src="assets/img/theme/IMAGE2" class="profile-img" alt="profile">
            <div class="nameemail">
              <div class="name">Miriam Eric</div>
              <div class="email">miriam@creative-tim.com</div>
            </div>
          </div>
        </div>

        <div class="patient-box">
          <div class="item devicetype">VR-2022-001</div>
          <div class="item age">14/09/20</div>
          <div class="item Id">14/09/20</div>
          <div class="maininfo">
            <img src="assets/img/theme/IMAGE3" class="profile-img" alt="profile">
            <div class="nameemail">
              <div class="name">Miriam Eric</div>
              <div class="email">miriam@creative-tim.com</div>
            </div>
          </div>
        </div>

        <div class="patient-box">
          <div class="item devicetype">VR-2022-001</div>
          <div class="item age">14/09/20</div>
          <div class="item Id">14/09/20</div>
          <div class="maininfo">
            <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="profile-img" alt="profile">
            <div class="nameemail">
              <div class="name">Miriam Eric</div>
              <div class="email">miriam@creative-tim.com</div>
            </div>
          </div>
        </div>

        <div class="patient-box">
          <div class="item devicetype">VR-2022-001</div>
          <div class="item age">14/09/20</div>
          <div class="item Id">14/09/20</div>
          <div class="maininfo">
            <img src="assets/img/theme/IMAGE1" class="profile-img" alt="profile">
            <div class="nameemail">
              <div class="name">Miriam Eric</div>
              <div class="email">miriam@creative-tim.com</div>
            </div>
          </div>
        </div>

    </div>
    <div class="col-xl-4 col-lg-4 deviceinfo">
      <h2>Device Details</h2>
      <div class="info-box">
        <div>Registration Number <span>VR-2022-002</span></div>
        <div>Device Owner <span>Doctor Name / ID </span></div>
        <div>User  ID <span>User  ID</span></div>
        <div>User Name <span>Miriam Eric</span></div>
        <div>User Email <span>miriam@creative-tim.com</span></div>
        <div>User Phone <span>+212 645******</span></div>
        <div>Expiration Date <span>20/08/2022</span></div>
      </div>
    </div>
  </div>
</div>
