<div class="containkhawi">
  <div class="col-xl-11 col-lg-11 x-container">
    <aside class="col-xl-2 col-lg-2">
      <h2>Categories</h2>
      <div class="categories">
        <div class="cat active">Lorem ipsum</div>
        <div class="cat">Lorem ipsum</div>
        <div class="cat">Lorem ipsum</div>
        <div class="cat">Lorem ipsum</div>
        <div class="cat">Lorem ipsum</div>
        <div class="cat">Lorem ipsum</div>
        <div class="cat">Lorem ipsum</div>
      </div>
    </aside>
    <main class="col-xl-10 col-lg-10">
      <div class="exerciselist">

        <div class="item">
          <img class="workout-image" src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
          <div class="hover-bg">
            <div class="content">
              <h3>Workout Name</h3>
              <div class="desc">
                <span>10min</span>
                <span>50Kcal</span>
              </div>
            </div>
          </div>
          <div class="add-btn"><i class="fa-regular fa-plus"></i></div>
        </div>

        <div class="item">
          <img class="workout-image" src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
          <div class="hover-bg">
            <div class="content">
              <h3>Workout Name</h3>
              <div class="desc">
                <span>10min</span>
                <span>50Kcal</span>
              </div>
            </div>
          </div>
          <div class="add-btn"><i class="fa-regular fa-plus"></i></div>
        </div>

        <div class="item">
          <img class="workout-image" src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
          <div class="hover-bg">
            <div class="content">
              <h3>Workout Name</h3>
              <div class="desc">
                <span>10min</span>
                <span>50Kcal</span>
              </div>
            </div>
          </div>
          <div class="add-btn"><i class="fa-regular fa-plus"></i></div>
        </div>

        <div class="item">
          <img class="workout-image" src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
          <div class="hover-bg">
            <div class="content">
              <h3>Workout Name</h3>
              <div class="desc">
                <span>10min</span>
                <span>50Kcal</span>
              </div>
            </div>
          </div>
          <div class="add-btn"><i class="fa-regular fa-plus"></i></div>
        </div>

        <div class="item">
          <img class="workout-image" src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
          <div class="hover-bg">
            <div class="content">
              <h3>Workout Name</h3>
              <div class="desc">
                <span>10min</span>
                <span>50Kcal</span>
              </div>
            </div>
          </div>
          <div class="add-btn"><i class="fa-regular fa-plus"></i></div>
        </div>

        <div class="item">
          <img class="workout-image" src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
          <div class="hover-bg">
            <div class="content">
              <h3>Workout Name</h3>
              <div class="desc">
                <span>10min</span>
                <span>50Kcal</span>
              </div>
            </div>
          </div>
          <div class="add-btn"><i class="fa-regular fa-plus"></i></div>
        </div>

        <div class="item">
          <img class="workout-image" src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
          <div class="hover-bg">
            <div class="content">
              <h3>Workout Name</h3>
              <div class="desc">
                <span>10min</span>
                <span>50Kcal</span>
              </div>
            </div>
          </div>
          <div class="add-btn"><i class="fa-regular fa-plus"></i></div>
        </div>

        <div class="item">
          <img class="workout-image" src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
          <div class="hover-bg">
            <div class="content">
              <h3>Workout Name</h3>
              <div class="desc">
                <span>10min</span>
                <span>50Kcal</span>
              </div>
            </div>
          </div>
          <div class="add-btn"><i class="fa-regular fa-plus"></i></div>
        </div>

        <div class="item">
          <img class="workout-image" src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
          <div class="hover-bg">
            <div class="content">
              <h3>Workout Name</h3>
              <div class="desc">
                <span>10min</span>
                <span>50Kcal</span>
              </div>
            </div>
          </div>
          <div class="add-btn"><i class="fa-regular fa-plus"></i></div>
        </div>

        <div class="item">
          <img class="workout-image" src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
          <div class="hover-bg">
            <div class="content">
              <h3>Workout Name</h3>
              <div class="desc">
                <span>10min</span>
                <span>50Kcal</span>
              </div>
            </div>
          </div>
          <div class="add-btn"><i class="fa-regular fa-plus"></i></div>
        </div>

        <div class="item">
          <img class="workout-image" src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
          <div class="hover-bg">
            <div class="content">
              <h3>Workout Name</h3>
              <div class="desc">
                <span>10min</span>
                <span>50Kcal</span>
              </div>
            </div>
          </div>
          <div class="add-btn"><i class="fa-regular fa-plus"></i></div>
        </div>

        <div class="item">
          <img class="workout-image" src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
          <div class="hover-bg">
            <div class="content">
              <h3>Workout Name</h3>
              <div class="desc">
                <span>10min</span>
                <span>50Kcal</span>
              </div>
            </div>
          </div>
          <div class="add-btn"><i class="fa-regular fa-plus"></i></div>
        </div>

        <div class="item">
          <img class="workout-image" src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
          <div class="hover-bg">
            <div class="content">
              <h3>Workout Name</h3>
              <div class="desc">
                <span>10min</span>
                <span>50Kcal</span>
              </div>
            </div>
          </div>
          <div class="add-btn"><i class="fa-regular fa-plus"></i></div>
        </div>

        <div class="item">
          <img class="workout-image" src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
          <div class="hover-bg">
            <div class="content">
              <h3>Workout Name</h3>
              <div class="desc">
                <span>10min</span>
                <span>50Kcal</span>
              </div>
            </div>
          </div>
          <div class="add-btn"><i class="fa-regular fa-plus"></i></div>
        </div>

        <div class="item">
          <img class="workout-image" src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
          <div class="hover-bg">
            <div class="content">
              <h3>Workout Name</h3>
              <div class="desc">
                <span>10min</span>
                <span>50Kcal</span>
              </div>
            </div>
          </div>
          <div class="add-btn"><i class="fa-regular fa-plus"></i></div>
        </div>

        <div class="item">
          <img class="workout-image" src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
          <div class="hover-bg">
            <div class="content">
              <h3>Workout Name</h3>
              <div class="desc">
                <span>10min</span>
                <span>50Kcal</span>
              </div>
            </div>
          </div>
          <div class="add-btn"><i class="fa-regular fa-plus"></i></div>
        </div>

        <div class="item">
          <img class="workout-image" src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
          <div class="hover-bg">
            <div class="content">
              <h3>Workout Name</h3>
              <div class="desc">
                <span>10min</span>
                <span>50Kcal</span>
              </div>
            </div>
          </div>
          <div class="add-btn"><i class="fa-regular fa-plus"></i></div>
        </div>

        <div class="item">
          <img class="workout-image" src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
          <div class="hover-bg">
            <div class="content">
              <h3>Workout Name</h3>
              <div class="desc">
                <span>10min</span>
                <span>50Kcal</span>
              </div>
            </div>
          </div>
          <div class="add-btn"><i class="fa-regular fa-plus"></i></div>
        </div>

        <div class="item">
          <img class="workout-image" src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
          <div class="hover-bg">
            <div class="content">
              <h3>Workout Name</h3>
              <div class="desc">
                <span>10min</span>
                <span>50Kcal</span>
              </div>
            </div>
          </div>
          <div class="add-btn"><i class="fa-regular fa-plus"></i></div>
        </div>

        <div class="item">
          <img class="workout-image" src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
          <div class="hover-bg">
            <div class="content">
              <h3>Workout Name</h3>
              <div class="desc">
                <span>10min</span>
                <span>50Kcal</span>
              </div>
            </div>
          </div>
          <div class="add-btn"><i class="fa-regular fa-plus"></i></div>
        </div>

        <div class="item">
          <img class="workout-image" src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
          <div class="hover-bg">
            <div class="content">
              <h3>Workout Name</h3>
              <div class="desc">
                <span>10min</span>
                <span>50Kcal</span>
              </div>
            </div>
          </div>
          <div class="add-btn"><i class="fa-regular fa-plus"></i></div>
        </div>

        <div class="item">
          <img class="workout-image" src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
          <div class="hover-bg">
            <div class="content">
              <h3>Workout Name</h3>
              <div class="desc">
                <span>10min</span>
                <span>50Kcal</span>
              </div>
            </div>
          </div>
          <div class="add-btn"><i class="fa-regular fa-plus"></i></div>
        </div>

        <div class="item">
          <img class="workout-image" src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
          <div class="hover-bg">
            <div class="content">
              <h3>Workout Name</h3>
              <div class="desc">
                <span>10min</span>
                <span>50Kcal</span>
              </div>
            </div>
          </div>
          <div class="add-btn"><i class="fa-regular fa-plus"></i></div>
        </div>

        <div class="item">
          <img class="workout-image" src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
          <div class="hover-bg">
            <div class="content">
              <h3>Workout Name</h3>
              <div class="desc">
                <span>10min</span>
                <span>50Kcal</span>
              </div>
            </div>
          </div>
          <div class="add-btn"><i class="fa-regular fa-plus"></i></div>
        </div>

      </div>
    </main>
  </div>
</div>