<footer class="footer">
  <div class="row d-flex align-items-center justify-content-xl-between " >
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        &copy; {{ test | date: "yyyy" }}
        <a
          onclick="window.open('https://github.com/saadsb20');"
          href="https://github.com/ElabdiAchraf"
          class="font-weight-bold ml-1"
          >made with
          Love by
          PhyAR
          for a better web.</a>
      </div>
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item">
          <a href="#" class="nav-link" target="_blank">About Us</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" target="_blank">Blog</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" target="_blank">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
