<div class="containkhawi">
  <div class="col-xl-11 col-lg-11 d-flex patientlist">
    <div class="col-xl-6 col-lg-6 list">
      <div class="d-flex align-center justify-between header ">
        <div>Patient</div>
        <div class="h-age">Age</div>
        <div class="h-id">ID</div>
        <div>Device</div>
      </div>

      <div class="patient-box active">
        <div class="maininfo">
          <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="profile-img" alt="profile">
          <div class="nameemail">
            <div class="name">Miriam Eric</div>
            <div class="email">miriam@creative-tim.com</div>
          </div>
        </div>
        <div class="item age">33</div>
        <div class="item Id">235578</div>
        <div class="item devicetype">VR-2022-001</div>
      </div>
      
      <div class="patient-box">
        <div class="maininfo">
          <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="profile-img" alt="profile">
          <div class="nameemail">
            <div class="name">Miriam Eric</div>
            <div class="email">miriam@creative-tim.com</div>
          </div>
        </div>
        <div class="item age">33</div>
        <div class="item Id">235578</div>
        <div class="item devicetype">VR-2022-001</div>
      </div>
      
      <div class="patient-box">
        <div class="maininfo">
          <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="profile-img" alt="profile">
          <div class="nameemail">
            <div class="name">Miriam Eric</div>
            <div class="email">miriam@creative-tim.com</div>
          </div>
        </div>
        <div class="item age">33</div>
        <div class="item Id">235578</div>
        <div class="item devicetype">VR-2022-001</div>
      </div>
      
      <div class="patient-box">
        <div class="maininfo">
          <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="profile-img" alt="profile">
          <div class="nameemail">
            <div class="name">Miriam Eric</div>
            <div class="email">miriam@creative-tim.com</div>
          </div>
        </div>
        <div class="item age">33</div>
        <div class="item Id">235578</div>
        <div class="item devicetype">VR-2022-001</div>
      </div>
      
      <div class="patient-box">
        <div class="maininfo">
          <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="profile-img" alt="profile">
          <div class="nameemail">
            <div class="name">Miriam Eric</div>
            <div class="email">miriam@creative-tim.com</div>
          </div>
        </div>
        <div class="item age">33</div>
        <div class="item Id">235578</div>
        <div class="item devicetype">VR-2022-001</div>
      </div>
      
      <div class="patient-box">
        <div class="maininfo">
          <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="profile-img" alt="profile">
          <div class="nameemail">
            <div class="name">Miriam Eric</div>
            <div class="email">miriam@creative-tim.com</div>
          </div>
        </div>
        <div class="item age">33</div>
        <div class="item Id">235578</div>
        <div class="item devicetype">VR-2022-001</div>
      </div>
      
      <div class="patient-box">
        <div class="maininfo">
          <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="profile-img" alt="profile">
          <div class="nameemail">
            <div class="name">Miriam Eric</div>
            <div class="email">miriam@creative-tim.com</div>
          </div>
        </div>
        <div class="item age">33</div>
        <div class="item Id">235578</div>
        <div class="item devicetype">VR-2022-001</div>
      </div>
      
      <div class="patient-box">
        <div class="maininfo">
          <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="profile-img" alt="profile">
          <div class="nameemail">
            <div class="name">Miriam Eric</div>
            <div class="email">miriam@creative-tim.com</div>
          </div>
        </div>
        <div class="item age">33</div>
        <div class="item Id">235578</div>
        <div class="item devicetype">VR-2022-001</div>
      </div>
      
      <div class="patient-box">
        <div class="maininfo">
          <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="profile-img" alt="profile">
          <div class="nameemail">
            <div class="name">Miriam Eric</div>
            <div class="email">miriam@creative-tim.com</div>
          </div>
        </div>
        <div class="item age">33</div>
        <div class="item Id">235578</div>
        <div class="item devicetype">VR-2022-001</div>
      </div>
    </div>

    <div class="col-xl-6 col-lg-6 patientinfo">
      <div class="info-head">
        <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="profile-img2" alt="profile">
        <div class="profile-desc">
          <div class="name2">Miriam Eric</div>
          <div class="email2">miriam@creative-tim.com</div>
          <div class="item2 id2">ID  235578</div>
          <div class="item2 age2">Age  33</div>
        </div>
      </div>

      <!-- stats card -->
      <h3 class="info-title">Patient Details</h3>
      <div class="row col-lg-12 stat">
        <div class="col-xl-5 col-lg-5">
          <div class="card card-stats mb-4 mb-xl-4">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Traffic
                  </h5>
                  <span class="h2 font-weight-bold mb-0">350,897</span>
                </div>
                <div class="col-auto"> 
                  <div class="col-md-6 col-sm-10">
                    <div class="miniprogress blue">
                        <span class="miniprogress-left">
                            <span class="miniprogress-bar"></span>
                        </span>
                        <span class="miniprogress-right">
                            <span class="miniprogress-bar"></span>
                        </span>
                        <div class="miniprogress-value">90%
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <p class="mt-2 mb-0 text-muted text-sm">
                <span class="text-success mr-2"
                  ><i class="fa fa-arrow-up"></i> 3.48%</span
                >
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>

        <div class="col-xl-5 col-lg-5">
          <div class="card card-stats mb-4 mb-xl-4">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    New users
                  </h5>
                  <span class="h2 font-weight-bold mb-0">2,356</span>
                </div>
                <div class="col-auto">
                  <div class="col-md-6 col-sm-10">
                    <div class="miniprogress yellow">
                        <span class="miniprogress-left">
                            <span class="miniprogress-bar"></span>
                        </span>
                        <span class="miniprogress-right">
                            <span class="miniprogress-bar"></span>
                        </span>
                        <div class="miniprogress-value">50%
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <p class="mt-2 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"
                  ><i class="fas fa-arrow-down"></i> 3.48%</span
                >
                <span class="text-nowrap">Since last week</span>
              </p>
            </div>
          </div>
        </div>

        <div class="col-xl-5 col-lg-5">
          <div class="card card-stats mb-2 mb-xl-2">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Sales
                  </h5>
                  <span class="h2 font-weight-bold mb-0">924</span>
                </div>
                <div class="col-auto">
                  <div class="col-md-6 col-sm-10">
                    <div class="miniprogress pink">
                        <span class="miniprogress-left">
                            <span class="miniprogress-bar"></span>
                        </span>
                        <span class="miniprogress-right">
                            <span class="miniprogress-bar"></span>
                        </span>
                        <div class="miniprogress-value">60%
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <p class="mt-2 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"
                  ><i class="fas fa-arrow-down"></i> 1.10%</span
                >
                <span class="text-nowrap">Since yesterday</span>
              </p>
            </div>
          </div>
        </div>

        <div class="col-xl-5 col-lg-5">
          <div class="card card-stats mb-2 mb-xl-2">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Performance
                  </h5>
                  <span class="h2 font-weight-bold mb-0">49,65%</span>
                </div>
                <div class="col-auto">
                  <div class="col-md-6 col-sm-10">
                    <div class="miniprogress blue">
                        <span class="miniprogress-left">
                            <span class="miniprogress-bar"></span>
                        </span>
                        <span class="miniprogress-right">
                            <span class="miniprogress-bar"></span>
                        </span>
                        <div class="miniprogress-value">90%
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <p class="mt-2 mb-0 text-muted text-sm">
                <span class="text-success mr-2"
                  ><i class="fas fa-arrow-up"></i> 12%</span
                >
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <h3 class="info-title">Device Info</h3>
      <div class="col-xl-11 col-lg-11 info-box">
        <div>Registration Number <span>VR-2022-002</span></div>
        <div>Device Owner <span>Doctor Name / ID </span></div>
        <div>User Phone <span>+212 645******</span></div>
        <div>Expiration Date <span>20/08/2022</span></div>
      </div>

    </div>

  </div>
</div>