<div class="containkhawi">
  <div class="col-xl-11 col-lg-11 d-flex patientlist">
    <div class="col-xl-6 col-lg-6 list">
      <div class="d-flex align-center justify-between header ">
        <div>Patient</div>
        <div class="h-age">Age</div>
        <div class="h-id">ID</div>
        <div>Device</div>
      </div>

      <div class="patient-box active">
        <div class="maininfo">
          <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="profile-img" alt="profile">
          <div class="nameemail">
            <div class="name">Miriam Eric</div>
            <div class="email">miriam@creative-tim.com</div>
          </div>
        </div>
        <div class="item age">33</div>
        <div class="item Id">235578</div>
        <div class="item devicetype">VR-2022-001</div>
      </div>
      
      <div class="patient-box">
        <div class="maininfo">
          <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="profile-img" alt="profile">
          <div class="nameemail">
            <div class="name">Miriam Eric</div>
            <div class="email">miriam@creative-tim.com</div>
          </div>
        </div>
        <div class="item age">33</div>
        <div class="item Id">235578</div>
        <div class="item devicetype">VR-2022-001</div>
      </div>
      
      <div class="patient-box">
        <div class="maininfo">
          <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="profile-img" alt="profile">
          <div class="nameemail">
            <div class="name">Miriam Eric</div>
            <div class="email">miriam@creative-tim.com</div>
          </div>
        </div>
        <div class="item age">33</div>
        <div class="item Id">235578</div>
        <div class="item devicetype">VR-2022-001</div>
      </div>
      
      <div class="patient-box">
        <div class="maininfo">
          <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="profile-img" alt="profile">
          <div class="nameemail">
            <div class="name">Miriam Eric</div>
            <div class="email">miriam@creative-tim.com</div>
          </div>
        </div>
        <div class="item age">33</div>
        <div class="item Id">235578</div>
        <div class="item devicetype">VR-2022-001</div>
      </div>
      
      <div class="patient-box">
        <div class="maininfo">
          <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="profile-img" alt="profile">
          <div class="nameemail">
            <div class="name">Miriam Eric</div>
            <div class="email">miriam@creative-tim.com</div>
          </div>
        </div>
        <div class="item age">33</div>
        <div class="item Id">235578</div>
        <div class="item devicetype">VR-2022-001</div>
      </div>
      
      <div class="patient-box">
        <div class="maininfo">
          <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="profile-img" alt="profile">
          <div class="nameemail">
            <div class="name">Miriam Eric</div>
            <div class="email">miriam@creative-tim.com</div>
          </div>
        </div>
        <div class="item age">33</div>
        <div class="item Id">235578</div>
        <div class="item devicetype">VR-2022-001</div>
      </div>
      
      <div class="patient-box">
        <div class="maininfo">
          <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="profile-img" alt="profile">
          <div class="nameemail">
            <div class="name">Miriam Eric</div>
            <div class="email">miriam@creative-tim.com</div>
          </div>
        </div>
        <div class="item age">33</div>
        <div class="item Id">235578</div>
        <div class="item devicetype">VR-2022-001</div>
      </div>
      
      <div class="patient-box">
        <div class="maininfo">
          <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="profile-img" alt="profile">
          <div class="nameemail">
            <div class="name">Miriam Eric</div>
            <div class="email">miriam@creative-tim.com</div>
          </div>
        </div>
        <div class="item age">33</div>
        <div class="item Id">235578</div>
        <div class="item devicetype">VR-2022-001</div>
      </div>
      
      <div class="patient-box">
        <div class="maininfo">
          <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="profile-img" alt="profile">
          <div class="nameemail">
            <div class="name">Miriam Eric</div>
            <div class="email">miriam@creative-tim.com</div>
          </div>
        </div>
        <div class="item age">33</div>
        <div class="item Id">235578</div>
        <div class="item devicetype">VR-2022-001</div>
      </div>
    </div>

    <div class="col-xl-6 col-lg-6 patientinfo">
      <div class="info-head">
        <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="profile-img2" alt="profile">
        <div class="profile-desc">
          <div class="name2">Miriam Eric</div>
          <div class="email2">miriam@creative-tim.com</div>
          <div class="item2 id2">ID  235578</div>
          <div class="item2 age2">Age  33</div>
        </div>
      </div>
    </div>
  </div>
</div>